@charset "UTF-8";
@import url(materialize.css);
/* Colores */
/* Tipograf├¡a */
/* Pixeles */
/* Peso Tipograf├¡a */
/* Porcentajes */
/* Header */
/* Nav Bar */
* {
  font-family: 'Roboto', sans-serif; }

.body {
  background-color: #DFDFDF; }

header {
  background-color: transparent; }
  header #dropdown-features li a {
    font-size: 12px;
    color: black; }
    header #dropdown-features li a i {
      margin: 0;
      width: 15px; }
  header #dropdown-sections li a {
    font-size: 12px;
    color: black; }
    header #dropdown-sections li a i {
      margin: 0;
      width: 15px; }
  header .el-menu {
    height: 80px;
    background-color: #FFF;
    color: #999;
    position: fixed;
    top: 0;
    z-index: 10; }
    header .el-menu .nav-wrapper .brand-logo {
      color: #484848;
      font-size: 18px;
      padding-left: 50px;
      font-weight: 200; }
    header .el-menu .nav-wrapper .botones-nav {
      padding-right: 50px; }
      header .el-menu .nav-wrapper .botones-nav li a i {
        color: #484848; }
      header .el-menu .nav-wrapper .botones-nav li a span {
        color: #484848;
        font-size: 12px; }
      header .el-menu .nav-wrapper .botones-nav li a .material-icons {
        color: #484848;
        font-size: 12px;
        padding-top: 3px;
        font-weight: 200; }
      header .el-menu .nav-wrapper .botones-nav li .btn {
        background-color: #e91e63; }
        header .el-menu .nav-wrapper .botones-nav li .btn i {
          font-size: 12px;
          color: #FFF; }
      header .el-menu .nav-wrapper .botones-nav li a:hover {
        background-color: rgba(255, 255, 255, 0.1); }
  header .el-navegador {
    position: fixed;
    top: 0;
    padding-top: 20px;
    background-color: transparent;
    z-index: 10;
    box-shadow: none; }
    header .el-navegador .nav-wrapper .brand-logo {
      font-size: 18px;
      padding-left: 50px;
      font-weight: 200; }
    header .el-navegador .nav-wrapper .botones-nav {
      padding-right: 50px; }
      header .el-navegador .nav-wrapper .botones-nav li a span {
        font-size: 12px; }
      header .el-navegador .nav-wrapper .botones-nav li a .material-icons {
        font-size: 12px;
        padding-top: 3px;
        font-weight: 200; }
      header .el-navegador .nav-wrapper .botones-nav li .btn {
        background-color: #e91e63; }
      header .el-navegador .nav-wrapper .botones-nav li a:hover {
        background-color: rgba(255, 255, 255, 0.1); }
  header .carousel {
    height: 500px;
    position: absolute;
    z-index: -1; }
    header .carousel .carousel-fixed-item .btn {
      background-color: #e91e63;
      color: white; }
    header .carousel .img-1 {
      background-size: cover;
      background-image: url(../img/img_slider_1.jpg); }
      header .carousel .img-1 .text-slider {
        padding-top: 100px;
        font-size: 65px;
        line-height: 77px; }
    header .carousel .img-2 {
      background-size: cover;
      background-image: url(../img/img_slider_2.jpg); }
      header .carousel .img-2 .text-slider {
        padding-top: 100px;
        font-size: 65px;
        line-height: 77px; }

@media only screen and (max-width: 992px) {
  header .el-menu {
    height: 70px;
    background-color: #FFF; }
    header .el-menu .nav-wrapper .brand-logo {
      position: relative;
      bottom: 20px;
      left: 15%;
      top: 6%;
      font-size: 18px;
      padding-left: 0; }
    header .el-menu .nav-wrapper .button-collapse {
      color: #484848; }
  header .el-navegador {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8); }
    header .el-navegador .nav-wrapper .brand-logo {
      position: relative;
      bottom: 20px;
      left: 15%;
      font-size: 18px;
      padding-left: 0; }
    header .el-navegador .nav-wrapper .button-collapse {
      position: relative;
      bottom: 20px; }
    header .el-navegador .nav-wrapper #mobile-demo li .btn {
      background-color: #e91e63; }
  header .carousel .img-1 .text-slider {
    padding-top: 100px;
    font-size: 45px;
    line-height: 55px; }
  header .carousel .img-2 .text-slider {
    padding-top: 100px;
    font-size: 45px;
    line-height: 55px; } }

/*# sourceMappingURL=main.css.map */
