/* Nav Bar */

* {
	font-family: 'Roboto', sans-serif;
}

.body {
	background-color: $gris;
}

header {
	background-color: transparent;
	#dropdown-features {
		li{
			a{
				@include headerA();
				i{
					@include headerI();
				}
			}			
		}
	}
	#dropdown-sections {
		li{
			a{
				@include headerA();
				i{
					@include headerI();
				}
			}			
		}	
	}

	.el-menu {
		height: 80px;
		background-color: #FFF;	
		color: $gris-text;
		position: fixed;
		top: 0;
		z-index: 10;
		.nav-wrapper {
			.brand-logo {
				color:$gris-nav;
				font-size: 18px;
				padding-left: $cincuenta;
				font-weight:$doscientos-w;
			}
			.botones-nav {
				padding-right: $cincuenta;
				li{

					a{
						i{
							color: $gris-nav;
						}
						span{
							color: $gris-nav;
							font-size: $doce;
						}
						.material-icons {
							color: $gris-nav;
							font-size: $doce;
							padding-top: 3px;
							font-weight: $doscientos-w;
						}
						
					}
					.btn {
	    				background-color: $fucsia;
	    				i{
	    					font-size: $doce;
	    					color:$blanco;
	    				}
					}						
					a:hover {
						background-color: rgba(255, 255, 255, 0.1);
					}

				}
			}
		}
	}
	
	.el-navegador {
		position: fixed;
		top: 0;
		padding-top: 20px;
		background-color: transparent;	
		z-index: 10;
		box-shadow: none;
		.nav-wrapper {
			.brand-logo {
				font-size: 18px;
				padding-left: $cincuenta;
				font-weight:$doscientos-w;
			}
			.botones-nav {
				padding-right: $cincuenta;
				li{

					a{
						span{
							font-size: $doce;
						}
						.material-icons {
							font-size: $doce;
							padding-top: 3px;
							font-weight: $doscientos-w;
						}
						
					}
					.btn {
	    				background-color: $fucsia;
					}						
					a:hover {
						background-color: rgba(255, 255, 255, 0.1);
					}

				}
			}
		}
	}
	.carousel {
		height: 500px;
		position: absolute;
		z-index: -1;
		.carousel-fixed-item {
			.btn {
				background-color: $fucsia;
				color: white;
			}
		}
		.img-1 {	
			background-size: cover;
			background-image: url(../img/img_slider_1.jpg);
			.text-slider{
				@include textSlide();
			}
		}
		.img-2 {
			background-size: cover;
			background-image: url(../img/img_slider_2.jpg);
			.text-slider{
				@include textSlide();			
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	header{	
		.el-menu {
			height: 70px;
			background-color: #FFF;	
			.nav-wrapper {
				.brand-logo {
					position: relative;
	    			bottom: 20px;
					left: 15%;
					top: 6%;
					font-size: 18px;
					padding-left: $cero;				
				}
				.button-collapse {
					color:$gris-nav;			
				}
			}
		}
		.el-navegador {
			height: 70px;
			background-color: rgba(0,0,0,0.8);

			.nav-wrapper {
				.brand-logo {
					position: relative;
    				bottom: 20px;
					left: 15%;
					font-size: 18px;
					padding-left: $cero;
				}
				.button-collapse {
					position: relative;
    				bottom: 20px;
				}
				#mobile-demo {
					li{
						.btn {
		    				background-color: $fucsia;
						}		
					}
				}
			}
		}
		.carousel {
			.img-1 {	
				.text-slider {
					padding-top: 100px;
					font-size: 45px;
					line-height: 55px;
				}
			}
			.img-2 {
				.text-slider {
					padding-top: 100px;
					font-size: 45px;
					line-height: 55px;			
				}
			}
		}	
	}		
}