/* Colores */
$fucsia:#e91e63;
$gris:#DFDFDF;
$blanco:#FFF;
$gris-text: #999;
$gris-nav:#484848;
$turqueza: #01ADCA;
$verde: #41A239;
$naranjo: #EF3129;

/* Tipografía */
$font: 'Alfa Slab One', cursive;
$text_center:center;
$cero:0;

/* Pixeles */
$uno: 1px;
$cinco:5px;
$diez:10px;
$doce:12px;
$catorce:14px;
$quince:15px;
$veinte:20px;
$treinta:30px;
$cuarenta:40px;
$cincuenta:50px;
$sesenta:60px;
$setenta:70px;
$ochenta:80px;
$noventa:90px;
$cien:100px;
$docientos:200px;
$trecientos:300px;
$cuatrocientos:400px;

/* Peso Tipografía */
$doscientos-w: 200;
$cuatrocientos-w: 400;
$seiscientos-w: 600;

/*- Porcentajes */
$radius: 50%;
$ochenta-ciento:80%;
$cien-ciento:100%;
$docientos-ciento:200%;